
table, th, td, tr {
   border: 1px solid black;
   border-collapse: collapse;
   padding: 10px;
}

p {
   max-width: 50em;
}
.section {
	border:1px solid black; 
	border-radius:4px;
	padding-left: 10px;
}

.metric {
	border:1px solid gray; 
	border-radius:4px;
	padding: 8px;
   display: inline-block; 
   max-width: 45em;
}

.met_name {
   font-size: larger;
}

.met_id {
   font-size: smaller;
   font-style: italic;
}

.v_center_text {
   vertical-align: middle;
}

.jod_text {
   vertical-align: middle;
   font-size: larger;
   height: 200px;
}

.larger_text {
   font-size: larger;
}

h2 {
   color: teal;
}

.params_frame {
	border:1px solid gray; 
	border-radius:4px;
	padding: 8px;
    display: inline-block; 
}
